
* {
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";  
    display: table; 
}

.cf:after {
    clear: both;
}

.red_border {border: red 1px solid; }

html, body {
    font-size: 14px;
	font-family: 'Lato', sans-serif;
    background: #222222;
	margin: 0;  
    max-height: calc(100vh - 20px);
}

p,ul li,ol li{
	margin:0;
	font-size:14px;
	letter-spacing: .5px;
}

/* ul li { list-style-type: none; } */

h1,h2,h3,h4,h5,h6{
	font: normal normal 2.125em/1.33em 'Lato';
	text-transform:uppercase;
	margin:0;
    color: #343434;
}

.thesis ol span { margin-left: 2px; }
         
#wrapper {
    background: #fff;
    min-width: 950px;
    max-width: 1050px;
    margin: 0 auto;   
}

#profile_header {
    min-height: 155px;
    padding: 30px 30px 0;    
    clear: both;
}

#profile_user, {
    overflow: hidden;
    float: left;
    width: 50%;
}

header {
	background-color: #302E2F;

}

 .banner {
	text-align: center;	
	padding: 1.5em 0;
 }

.banner h2 {
	border: #fff 3px solid;
	margin: 0 auto 10px;
	padding: 10px;
 	width: 50%;
    font-size: 1.3em;
       font-size: 28px;
    letter-spacing: 4px;  
    color: #E2E1E6;

}

.banner span {
	color: #E2E1E6;
	font-size: 16px;
}


#profile_body {
    padding: 24px 30px 56px;
}

#profile_body .left {
    float: left;
    width: 70%;
   
    overflow:hidden;
    border-right: 2px solid #C8C8CA;
    padding-right: 20px;
}

#profile_body .right {
    float: right;
    width: 30%;
    padding-left: 20px;
}




h3.section_title {
    color: #0D9F4A;
    padding-bottom: 12px;
    margin-bottom: 28px;
    border-bottom: 1px #0D9F4A solid;
    font-size: 20px;
    font-weight: 500;
}

.exp_item {
    margin-bottom: 15px;
}

.exp_item_header {
    margin-bottom: 10px;  
}

.exp_item_header .period {
    float: right;
/*    font-size: 14px;*/
}

.exp_item_header .position {
    font-size: 16px;
    font-weight: 500;
}

.exp_item_header .position,
.exp_item_header .company {
    letter-spacing: 1px;
}



.exp_item_header .company {
    font-size: 13px;
}

.exp_item_body {
    line-height: 1.5;    
}


.sec.right { text-align: center; }

.photo_cont {
    margin-bottom: 20px;
}

/*right side*/
.profile-image {
/*    margin-top: 50px;*/
/*    margin-top: 50px;*/
    width: 200px;
    height: 200px;
/*    border-radius: 50%;*/
    border: 3px solid white;    
}



.sec.right h4 {
    font-size: 14px;
    font-weight: 500;
}


#profile-data {
    text-align: left;
    line-height: 2;
}

#profile-data .th {
    font-weight: 600;
    width: 90px;
    margin-right: 10px;
    text-align: right;
    display: block;
    float: left;
    color: #373737;
}

.profile, 
.skills_sec{    
    margin-bottom: 40px;   
}
.links-sec {margin-bottom: 60px;}

/*SKILLS */
ul.skills{padding:0;text-align:center;}
.skills li{ 
    border-radius:6px;
    display:inline-block;
    background: #0D9F4A;
    color: #fff;
    padding:5px 10px;
    margin:2px 2px 10px;
}
/*other colors: black-alternative: #6A6565, yellow-alt: #F3CF8B*/
.skills li:nth-child(odd){background:#25AAE2;}

/*border + tail effect*/
.icon_list li {
     border: 5px solid rgba(192,192,192,.7);
    padding: 5px;
    position:relative;
    height: 110px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.icon_list li:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 12px rgba(192,192,192,.7);
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;   
}

 ol.icon_list{
    padding: 0;
}

.icon_list li img{
    width: 100%;  
    height: 100%;
}

.icon_list li div{
    font-size: 82px;
}


.icon_list .link_name {
    position: relative;
    bottom: -15px;
}


/*additional styling*/

ul, ol { padding-left: 20px; }

.exp_item_body,
.exp_item_header{
    padding: 5px;
}

.exp_item_header {
    border: 1px solid rgba(192,192,192,0.8);
}

p#endnote { text-align: center; }
#endnote a, #endnote a:visited {
    border-radius: 6px;
    font-size: 16px;
    text-decoration: none;
    background: #25AAE2;
    color: #fff;
    padding: 0 10px;
    margin: 0 auto 10px;       
}

.educ_sec { line-height: 2;}

#download_cv {
    position: fixed;  
    bottom: 0;
    right: 5px;
    border: 1px solid #E2E1E6;
    width: 100%;
    text-align: center;
    background: #343434;
    
    max-width: 1050px;
    left: 50%;
    transform: translateX(-50%);
    border: 11px solid red;
}

#download_cv a {
    color: #25AAE2;
    text-decoration: none;
    padding: 0 5%;
    line-height: 2;
    letter-spacing: 1px;
}

/*for print*/

@media print {
     #download_cv {
         display: none;
     }
    
     h3.section_title {        
         border-bottom: 1px #000 solid;
     }
    
    .banner h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
     h3.section_title,
    .skills li,
    .banner span,
    .banner h2,
    .icon_list a,
    .icon_list a:visited {
         color: #000;        
    }

    .page-break {
/*        page-break-before: always;*/
        margin-bottom: 120px;      

    }
 }


.hanging_indents {
    padding-left: .7em;
    text-indent:-.7em;
}













span {
    
}
